/*
   Landscape style
*/

@media screen and (orientation:landscape) {

	h1:before {
		background: #3C7E95;
		content: '';
		display: block;
		height: 2px;
		margin-bottom: 14px;
	}
	h1 {
		color: #f1e9e9;
		/*font-family: ‘Century Gothic’, sans-serif;*/
		font-family: 'Roboto';
		font-size: 80px;
		font-weight: 300;
		line-height: 78px;
		margin-bottom: 72px;
		margin-top: 72px;	
		max-width: 900px;
		position: relative;
   }

   h1:after {
	   background: #3C7E95;
	   content: '';
	   display: block;
	   height: 2px;
	   margin-top: 14px;
   }

   h2 {
		color: #D7CEBB;
		/*font-family: ‘Century Gothic’, sans-serif;*/
		font-family: 'Roboto';
		font-size: 40px;
		font-weight: 300;
		max-width: 700px;
		letter-spacing: -0.01em;
   }

   p {
		color: #D7CEBB;
		/*font-family: ‘Century Gothic’, sans-serif;*/
		font-family: ‘Libre Baskerville’;
		font-size: 12px;
		font-weight: 500;
		margin:12px 12px 12px 12px;
		position: relative;  
		line-height: 110%;
   }

   a {
      color: #376D73;	font-style: italic;
   }

   a:hover {
	   color: #395d6a;
   }

   .post-info { 
                 
                  border-top: 1px dashed #e0945a; 
                  border-bottom: 1px dashed #e0945a; 
                  font-size: 20px; margin: 15px 0 15px; 
                  padding: 3px; text-transform: uppercase; 
                  color: #94703b; 
                  position: relative;
               }

	img.bg {
		/* Set rules to fill background */
		min-height: 100%;
		min-width: 1024px;

		/* Set up proportionate scaling */
		width: 100%;
		height: auto;

		/* Set up positioning */
		position: fixed;
		top: 0;
		left: 0;
   }
   	#email {
		float:left;
		left:12px;
		max-width: 232px;
	}
	#address{
		text-transform: uppercase;
		float:left;
		left:244px;
		max-width: 232px;
	}
	#phone{
		float:left;
		left:476px;
		max-width: 232px;
	}
	#logo{
		float:rigth;
		right:78px;
		max-width: 232px;
	}
   #info {
      float:left;
      /*width:200px;
      background:#fc0;*/
   }

   @media screen and (max-width: 1024px) 
      { /* Specific to this particular image */
         img.bg {
                  left: 50%;
                  margin-left: -512px;   /* 50% */
			      
			      
     }

   }


      img.logo {
         transform: scale(1.2); 
		 float:rigth;
		right:1px;
		max-width: 232px;
      }

	.layer_dark{
		background-color: rgba(57, 69, 77, .9);
		position: absolute;

		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
	
}

