/*
   Portrait Styles
*/

@media screen and (orientation:portrait) {
   
   * {
      box-sizing: border-box;
   }
   
   h1:before {
		background: #3C7E95;
		content: '';
		display: block;
		height: 4px;
		margin-bottom: 2px;
   }
   h1 {
		color: #f1e9e9;
		font-family: 'Roboto';
		font-size: 100px;
		font-weight: 300;
		line-height: 78px;
		margin-bottom: 1px;
		margin-top: 40px;	
		max-width: 800px;
		line-height: 100%
   }

   h1:after {
		background: #3C7E95;
		content: '';
		display: block;
		height: 4px;
		margin-top: 2px;
   }

   h2 {
		color: #f1e9e9;
		font-family: 'Roboto';
		font-size: 50px;
		font-weight: 300;
		max-width: 90%;
		letter-spacing: -0.01em;
		line-height: 100%;
   }

   p {
		color: #D7CEBB;
		font-family: ‘Libre Baskerville’;
		font-size: 40px;
		font-weight: 500;
		/*margin:20px 12px 50px 80px;*/
                padding:40px;
		line-height: 100%;
   }

   a {
		color: #D7CEBB;	
      font-style: italic;
   }

   a:hover {
	   color: #395d6a;
   }

   img.bg {
     /* Set rules to fill background */
     min-height: 100%;
     min-width: 1024px;
	
     /* Set up proportionate scaling */
     width: auto;
     height: auto;
     /* background-repeat: repeat-y;*/
     /* Set up positioning */
     position: fixed;
     top: 0;
     left: 0;
   }

	#logo{
		transform: scale(2.5);
		margin:80px 12px 5px 80px;
	}
	#icon{
		transform: scale(2);
      margin:1px 1px 1px 80px;
	}
	@media screen and (max-width: 1024px) {
		/* Specific to this particular image */
		img.bg {
			left: 50%;
			margin-left: -512px;   /* 50% */
		}
	}

	.layer_dark{
		background-color: rgba(57, 69, 77, .7);
		position: absolute;

		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
	

   .footnote-c1{
      width: 80%;
	  
      /*height: auto;
      float: left;*/
      /*border: 1px solid red*/
   }
   .footnote-c2{
		width: 80%;
		/*height: auto;
		float: left;*/
		/*border: 1px solid red*/
   }

   .footnote-c3{
      width: 80%;
      height: auto;
	  
      /*border: 1px solid red*/   
   }
}

